/**********
 Autora: María Teresa Fernández Coro, UO263728
 Descripcion del layout
**********/

/* Especificidad: 001, 011 */
header,
section:first-of-type {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
  align-items: center;
}

/* Estilos para pantallas más pequeñas (por ejemplo, dispositivos móviles)
   Se redefinen estilos para el layout del header y la primera section
 */
@media only screen and (max-width: 37.5em) {

  /* Especificidad: 001, 011 */
  header,
  section:first-of-type {
    flex-direction: column;
  }

  /* Especificidad: 001 */
  header {
    text-align: center;
  }

  /* Especificidad: 002 */
  nav a {
    display: inline-block;
    padding: 0.5em;
  }
}