/**********
 Autora: María Teresa Fernández Coro, UO263728
 Descripcion de los Estilos de las Noticias
**********/

/* Especificidad: 001 */
form {
    border-color: #695643;
    border-radius: 0.3em;
    border-style: double;
    padding: 1em;
    max-width: 35em;
}

/* Especificidad: 001 */
label {
    display: block;
    margin-bottom: 0.5em;
}

/* Especificidad: 011, 001 */
input[type='text'],
textarea {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 0.5em;
    box-sizing: border-box;
}

/* Especificidad: 011 */
input[type='button'] {
    padding: 0.5em 1em;
    border: 0.05em solid #695643;
    border-radius: 0.25em;
    cursor: pointer;
    margin: 0 auto;
    display: block;
}

/* Especificidad: 011, 001 */
section:first-of-type,
section {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    margin-top: 0.5em;
    border-radius: 0.5em;
    box-shadow: 0 0 0.7em rgba(0, 0, 0, 0.1);
    padding: 1em;
}