/**********
 Autora: María Teresa Fernández Coro, UO263728
 Descripcion de los Estilos de Viajes
**********/

/* Especificidad: 011 */
input[type="button"] {
  border: 0.05em solid #695643;
  padding: 0.2em 1em;
  border-radius: 0.25em;
  cursor: pointer;
}

/* Especificidad: 001 */
img {
  width: auto;
  height: 50vw;
}

/* Especificidad 011 */
section:nth-of-type(2),
section:nth-of-type(3) {
  width: 100%;
  height: 50vw;
}

/* Especificidad: 001 */
p {
  display: block;
  white-space: pre;
  margin: 1em 0em;
}

/* Media query para pantallas más pequeñas */
@media screen and (max-width: 37.5em) {

  /* Especificidad: 001 */
  p {
    font-size: 0.8em;
  }

}